@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply max-w-screen-2xl laptop:max-w-screen-xl px-4 sm:px-8 mx-auto;
}

.btn {
    @apply rounded-md px-3 py-1;
}

.btn-primary {
    @apply bg-indigo-700 text-white uppercase;
}

.btn-danger {
    @apply bg-red-500 text-white uppercase;
}

.form-control {
    @apply w-full h-10 my-1 rounded-md outline-none px-4 text-gray-700 hover:border-[1px] hover:border-indigo-700;
}

.label-style {
    @apply text-sm text-gray-700 mb-1 font-medium;
}

.formGroup {
    @apply flex flex-col my-2;
}

.error-message {
    @apply text-[14px] font-medium capitalize text-red-500 py-2;
}

.has-error {
    @apply border-2 border-red-500;
}
